<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/prod.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <title></title>
</head>

<body>
  <script src="/css/bundle.js" async></script>
  <!-- 1. Link to jQuery (1.8 or later), -->
  <!--  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/
  jquery.min.js"></script> -->
  <!-- 33 KB -->
  <!-- fotorama.css & fotorama.js. -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.4.0/velocity.min.js" async></script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
  <!-- 3 KB -->
  <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> -->
  <!-- 16 KB -->
  <div class="wrapperWhite">
    <div class="wrapper">
      <div class="breadCrumbs">
        <a class='breadNotActive' href="#">Каталог Товаров</a>
        <span class='separator'>/</span>
        <a class='breadNotActive' href='#'>Телевизоры, аудио-видео, Hi-Fi</a>
        <span class='separator'>/</span>
        <a class='breadActive' href="#">Телевизоры</a>
      </div>
      <div class="orangeLine"></div>
      <div class="productNameAndLogo">
        <div class="productName">
          ТЕЛЕВИЗОР LED PHILIPS 50" 50PFT6510/60 ЧЕРНЫЙ/СЕРЕБРИСТЫЙ/FULL HD/800HZ/DVB-T/DVB-T2/DVB-C/3D/USB/WIFI (RUS)
        </div>
        <img src="../img/philips-logo.png" alt="">
      </div>
      <div class="productServiceInfo">
        <span class="articul">Артикул: 172838 </span>
        <span class="partNumber">Парт. 50PFT6510/60 (PHILIPS) </span>
      </div>
      <div class="mainInfo">
        <div class="fotorama">
        </div>
        <div class="leftMain">
          <div class="price">
            <span class="wordPrice">Цена:</span>
            <span class="orangePrice">49 805.- </span>
          </div>
          <div class="cardValue">
            <a href=" ">Серебренная карта</a>
            <span class="priceForCard">49 470.-</span>
          </div>
          <div class="cardValue">
            <a href=" ">Золотая карта</a>
            <span class="priceForCard">49 470.-</span>
          </div>
          <div class="cardValue">
            <a href=" ">Платиновая карта</a>
            <span class="priceForCard">49 470.-</span>
          </div>
          <div class="cardValue">
            <a href=" ">Алмазная карта</a>
            <span class="priceForCard">49 470.-</span>
          </div>
          <a href=" " class="priceForUr">Цены для юридических лиц</a>
          <div class="buySector">
            <input value="0" onkeydown="return ( event.ctrlKey || event.altKey 
                    || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) 
                    || (95<event.keyCode && event.keyCode<106)
                    || (event.keyCode==8) || (event.keyCode==9) 
                    || (event.keyCode>34 && event.keyCode<40) 
                    || (event.keyCode==46) )" class="quanityIncrement">
              <div class="incrementer">
                <img src="../img/arrow.png" alt="" class="arrowUp">
                <img src="../img/arrow.png" alt="" class="arrowDown">
              </div>
              <div class="buyButton"><img class="imgCart" src="../img/cart.png" alt=""> Купить</div>
          </div>
          <div class="additionalActions">
            <div class="inFav">
              <img src="../img/fav.png" alt="" class="favImage">
              <a href="" class="inFavLink">В избранное</a>
            </div>
            <div class="inDebtButton">Купить в кредит</div>
          </div>
          <a href="" class="showMoreDetails">Посмотреть описание товара</a>
        </div>
        <div class="rigthMain">
          <div class="priceForSigned">
            <span class="priceForSignedItself">49 000.-</span>
            <span class="signedInfo">Цена для зарегистрированных пользователей</span>
          </div>
          <div class="rightSub">
            <div class="delivery">
              <span class="deliveryIn">Доставка в <b>Рязань:</b></span>
              <img src="../img/placeholder.png" alt="" class="placeholder">
              <div class="boundIn">Самовывоз БЕСПЛАТНО
                <br> количество рабочих дней: <strong>1</strong></div>
              <img src="../img/door.png" class='doorImg' alt="">
              <div class="boundIn">До подъезда: <b>190 руб.</b>
                <br> количество рабочих дней: <strong>2</strong></div>
              <a href="">посмотреть все варианты</a>
            </div>
            <div class="raiting">
              Рейтинг: <img src="../img/stars.png" alt="" class="stars"> <a href="" class="comentsMain">12 отывов</a>
            </div>
            <div class="garantyMain">
              Гарантия: <strong> 12 месяцев</strong>
            </div>
            <img src="../img/visa-and-mastercard.png" alt="" class="visaMS">
          </div>
        </div>
      </div>
      <div class="oftenBuyWith">
        <div class="oftenBuyTitle">С этим товаром часто покупают</div>
        <div class="orangeLine"></div>
        <div class="tabsOftenBuy">
          <div class="tabOftenBuy activeTab">Принтеры</div>
          <div class="tabOftenBuy inactiveTab">Кабели</div>
          <div class="tabOftenBuy inactiveTab">Крепления для ТВ</div>
          <div class="showAllOftenBuy">показать все</div>
        </div>
        <div class="oftenBuyItems">
          <div class="oftenBuyItem">
            <div class="oftenBuyItemTitle">
              Принтер струйный Canon
            </div>
            <div class="imgWrap">
              <img src="../img/printer.png" alt="" class="oftenBuyImg">
            </div>
            <div class="oftenBuyBuy">
              <div class="oftenBuyPrice">24 080.-</div>
              <div class="oftenBuyButton"><img class="imgCart" src="../img/cart.png" alt=""> Купить
              </div>
            </div>
          </div>
          <div class="oftenBuyItem">
            <div class="oftenBuyItemTitle">
              Принтер струйный Canon Maxify IB4140 (0972C007) A4 Duplex WiFi USB черныйFi USB черныйFi USB черныйFi USB черныйFi USB черный
            </div>
            <div class="imgWrap">
              <img src="../img/printer.png" alt="" class="oftenBuyImg">
            </div>
            <div class="oftenBuyBuy">
              <div class="oftenBuyPrice">24 080.-</div>
              <div class="oftenBuyButton"><img class="imgCart" src="../img/cart.png" alt=""> Купить
              </div>
            </div>
          </div>
          <div class="oftenBuyItem">
            <div class="oftenBuyItemTitle">
              Принтер струйный Canon Maxify IB4140 (0972C007) A4 Duplex WiFi USB черныйFi USB черныйFi USB черныйFi USB черныйFi USB черный
            </div>
            <div class="imgWrap">
              <img src="../img/printer.png" alt="" class="oftenBuyImg">
            </div>
            <div class="oftenBuyBuy">
              <div class="oftenBuyPrice">24 080.-</div>
              <div class="oftenBuyButton"><img class="imgCart" src="../img/cart.png" alt=""> Купить
              </div>
            </div>
          </div>
          <div class="oftenBuyItem">
            <div class="oftenBuyItemTitle">
              Принтер струйный Canon Maxify IB4140 (0972C007) A4 Duplex WiFi USB черныйFi USB черныйFi USB черныйFi USB черныйFi USB черный
            </div>
            <div class="imgWrap">
              <img src="../img/printer.png" alt="" class="oftenBuyImg">
            </div>
            <div class="oftenBuyBuy">
              <div class="oftenBuyPrice">24 080.-</div>
              <div class="oftenBuyButton"><img class="imgCart" src="../img/cart.png" alt=""> Купить
              </div>
            </div>
          </div>
          <div class="oftenBuyItem">
            <div class="oftenBuyItemTitle">
              Принтер струйный Canon Maxify IB4140 (0972C007) A4 Duplex WiFi USB черныйFi USB черныйFi USB черныйFi USB черныйFi USB черный
            </div>
            <div class="imgWrap">
              <img src="../img/printer.png" alt="" class="oftenBuyImg">
            </div>
            <div class="oftenBuyBuy">
              <div class="oftenBuyPrice">24 080.-</div>
              <div class="oftenBuyButton"><img class="imgCart" src="../img/cart.png" alt=""> Купить
              </div>
            </div>
          </div>
          <div class="oftenBuyItem">
            <div class="oftenBuyItemTitle">
              Принтер струйный Canon Maxify IB4140 (0972C007) A4 Duplex WiF
            </div>
            <div class="imgWrap">
              <img src="../img/printer.png" alt="" class="oftenBuyImg">
            </div>
            <div class="oftenBuyBuy">
              <div class="oftenBuyPrice">24 080.-</div>
              <div class="oftenBuyButton"><img class="imgCart" src="../img/cart.png" alt=""> Купить
              </div>
            </div>
          </div>
          <div class="oftenBuyItem">
            <div class="oftenBuyItemTitle">
              Принтер струйный Canon Maxify IB4140 (0972C007) A4 Duplex WiFi USB черныйFi USB черныйFi USB черныйFi USB черныйFi USB черный
            </div>
            <div class="imgWrap">
              <img src="../img/printer.png" alt="" class="oftenBuyImg">
            </div>
            <div class="oftenBuyBuy">
              <div class="oftenBuyPrice">24 080.-</div>
              <div class="oftenBuyButton"><img class="imgCart" src="../img/cart.png" alt=""> Купить
              </div>
            </div>
          </div>
          <div class="oftenBuyItem">
            <div class="oftenBuyItemTitle">
              Принтер струйный Canon Maxify IB4140 (0972C007) A4 Duplex WiFi USB черныйFi USB черныйFi USB черныйFi USB черныйFi USB черный
            </div>
            <div class="imgWrap">
              <img src="../img/printer.png" alt="" class="oftenBuyImg">
            </div>
            <div class="oftenBuyBuy">
              <div class="oftenBuyPrice">24 080.-</div>
              <div class="oftenBuyButton"><img class="imgCart" src="../img/cart.png" alt=""> Купить
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapperGray">
    <div class="wrapper">
      <div class="details">
        <div class="detailsTabs">
          <div class="highlighter"> </div>
          <div data-name="description" class="detailsTab detailsTabActive ">Описание</div>
          <div data-name="opinions" class="detailsTab">Отзывы</div>
          <div data-name="reviews" class="detailsTab">Обзоры</div>
          <div data-name="discussion" class="detailsTab">Обсуждение</div>
        </div>
      </div>
      <table data-name="description" class="tableDetails wts">
        <tr>
          <td>Тип видеокарты</td>
          <td>офисная/игровая</td>
        </tr>
        <tr>
          <td>Тип видеокарты</td>
          <td>офисная/игровая</td>
        </tr>
        <tr>
          <td>Тип видеокарты</td>
          <td>офисная/игровая</td>
        </tr>
        <tr>
          <td>Тип видеокарты</td>
          <td>офисная/игровая</td>
        </tr>
        </tr>
        <tr>
          <td>Тип видеокарты</td>
          <td>офисная/игровая</td>
        </tr>
        <tr>
          <td>Тип видеокарты</td>
          <td>офисная/игровая</td>
        </tr>
        <tr>
          <td>Тип видеокарты</td>
          <td>офисная/игровая</td>
        </tr>
        <tr>
          <td>Тип видеокарты</td>
          <td>офисная/игровая</td>
        </tr>
        <tr>
          <td>Тип видеокарты</td>
          <td>офисная/игровая</td>
        </tr>
      </table>
      <div data-name="opinions" id="comments" class="comments wts" style="display: none;">
        <div class="comment">
          <div class="title">
            <div class="line">
              <div class="rank">
                <div class="markBack">2</div>
              </div>
              <span>Злобный покупатель</span>
            </div>
            <div class="clear"></div>
          </div>
          <div class="text">
            <p>
              <b>Минусы:</b> Принтер струйный Canon Maxify IB4140 (0972C007) A4 Duplex WiFi USB черныйFi USB черныйFi…
            </p>
            <p>
              <b>Плюсы:</b> ТЕЛЕВИЗОР LED PHILIPS 50" 50PFT6510/60 ЧЕРНЫЙ/СЕРЕБРИСТЫЙ/FULL HD/800HZ/DVB-T/DVB-T2/DVB-C/3D/USB/WIFI
              (RUS)
            </p>
            <p>
              <b>Комментарий:</b> ТЕЛЕВИЗОР LED PHILIPS 50" 50PFT6510/60 ЧЕРНЫЙ/СЕРЕБРИСТЫЙ/FULL HD/800HZ/DVB-T/DVB-T2/DVB-C/3D/USB/WIFI
              (RUS)
            </p>
            <a class="yandexBack" target="_blank" href="https://market.yandex.ru/product/<?=$el->return->marketid?>/reviews">Отзыв с&nbsp<span>Я</span>ндекс.Маркет</a>
            <div class="clear"></div>
          </div>
        </div>
        <div data-name="opinions" class="comment wts">
          <div class="title">
            <div class="line">
              <div class="rank">
                <div class="markBack">2</div>
              </div>
              <span>Злобный покупатель</span>
            </div>
            <div class="clear"></div>
          </div>
          <div class="text">
            <p>
              <b>Минусы:</b> Принтер струйный Canon Maxify IB4140 (0972C007) A4 Duplex WiFi USB черныйFi USB черныйFi…
            </p>
            <p>
              <b>Плюсы:</b> ТЕЛЕВИЗОР LED PHILIPS 50" 50PFT6510/60 ЧЕРНЫЙ/СЕРЕБРИСТЫЙ/FULL HD/800HZ/DVB-T/DVB-T2/DVB-C/3D/USB/WIFI
              (RUS)
            </p>
            <p>
              <b>Комментарий:</b> ТЕЛЕВИЗОР LED PHILIPS 50" 50PFT6510/60 ЧЕРНЫЙ/СЕРЕБРИСТЫЙ/FULL HD/800HZ/DVB-T/DVB-T2/DVB-C/3D/USB/WIFI
              (RUS)
            </p>
            <a class="yandexBack" target="_blank" href="https://market.yandex.ru/product/<?=$el->return->marketid?>/reviews">Отзыв с&nbsp<span>Я</span>ндекс.Маркет</a>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div id="reviews" data-name="reviews" class="reviews wts" style="display: none;">
        <div class="comment">
          <div class="title">
            <div class="number">1</div>
            <div class="line">
              <a target="_blank" href="?=$review">mlspecialchars</a>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="comment">
          <div class="title">
            <div class="number">
              <?=($k+1)?>
            </div>
            <div class="line">
              <a target="_blank">sssss</a>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div data-name="discussion" id="discs" class="discs wts" style="display: none;">
        <div class="thread" style="margin-left: 30px;">
          <div class="threadTitle">name; , <span> $month </span></div>
          <div class='threadCom'>$item</div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapperWhite">
    <div class="wrapper">
      <div class="simmilarTabs">
        <div class="highlighter2"> </div>
        <div data-name="description" class="simmilarTab simmilarTabActive">Похожие товары</div>
        <div data-name="opinions" class="simmilarTab">Вы просматривали</div>
      </div>
      <div class="simillarContent">
        <div class="contentItem">
          <div class="contentItemTitle">Телевизоры</div>
          <div class="contentItemImg"><img src="../img/tv.png" alt=""></div>
          <div class="rating">
            <img src="../img/orangeStar.png" alt="">
            <img src="../img/orangeStar.png" alt="">
            <img src="../img/orangeStar.png" alt="">
            <img src="../img/orangeStar.png" alt="">
            <img src="../img/grayStar.png" alt="">
            <span class="raitingInt">13</span>
          </div>
          <div class="contentItemName">
            ТЕЛЕВИЗОР LED 22" THOMSON T22E14DF-01BsssssssssssssaaAAssssssssssssssssss
          </div>
          <div class="ontentItemPrice">9 315.-</div>
          <div class="contentItemBuy">
            <a href="" class="inFavLink">В избранное</a>
            <div class="buyButtonSimillar">
              <img class="imgCart"src="../img/cart.png" alt="">
              Купить
              </div>
          </div>
        </div>
        <div class="contentItem">
          <div class="contentItemTitle">Телевизоры</div>
          <div class="contentItemImg"><img src="../img/video.png" alt=""></div>
          <div class="rating">
            <img src="../img/orangeStar.png" alt="">
            <img src="../img/orangeStar.png" alt="">
            <img src="../img/orangeStar.png" alt="">
            <img src="../img/orangeStar.png" alt="">
            <img src="../img/grayStar.png" alt="">
            <span class="raitingInt">13</span>
          </div>
          <div class="contentItemName">
            ТЕЛЕВИЗОР LED 22" THOMSON T22E14DF-01BsssssssssssssaaAAssssssssssssssssss
          </div>
          <div class="ontentItemPrice">9 315.-</div>
          <div class="contentItemBuy">
            <a href="" class="inFavLink">В избранное</a>
            <div class="buyButtonSimillar">
              <img class="imgCart"src="../img/cart.png" alt="">
              Купить
              </div>
          </div>
        </div>
        <div class="contentItem">
          <div class="contentItemTitle">Телевизоры</div>
          <div class="contentItemImg"><img src="../img/router.png" alt=""></div>
          <div class="rating">
            <img src="../img/orangeStar.png" alt="">
            <img src="../img/orangeStar.png" alt="">
            <img src="../img/orangeStar.png" alt="">
            <img src="../img/orangeStar.png" alt="">
            <img src="../img/grayStar.png" alt="">
            <span class="raitingInt">13</span>
          </div>
          <div class="contentItemName">
            ТЕЛЕВИЗОР LED 22" THOMSON T22E14DF-01BsssssssssssssaaAAssssssssssssssssss
          </div>
          <div class="ontentItemPrice">9 315.-</div>
          <div class="contentItemBuy">
            <a href="" class="inFavLink">В избранное</a>
            <div class="buyButtonSimillar">
              <img class="imgCart"src="../img/cart.png" alt="">
              Купить
              </div>
          </div>
        </div>
        <div class="contentItem">
          <div class="contentItemTitle">Телевизоры</div>
          <div class="contentItemImg"><img src="../img/notebook.png" alt=""></div>
          <div class="rating">
            <img src="../img/orangeStar.png" alt="">
            <img src="../img/orangeStar.png" alt="">
            <img src="../img/orangeStar.png" alt="">
            <img src="../img/orangeStar.png" alt="">
            <img src="../img/grayStar.png" alt="">
            <span class="raitingInt">13</span>
          </div>
          <div class="contentItemName">
            ТЕЛЕВИЗОР LED 22" THOMSON T22E14DF-01BsssssssssssssaaAAssssssssssssssssss
          </div>
          <div class="ontentItemPrice">9 315.-</div>
          <div class="contentItemBuy">
            <a href="" class="inFavLink">В избранное</a>
            <div class="buyButtonSimillar">
              <img class="imgCart"src="../img/cart.png" alt="">
              Купить
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/css/bundle.js"></script>
</body>
<script src="../js/shave.js" async></script>
<script src="../js/modules/incrementer.js" async></script>
<script src="../js/modules/trimTitle.js" async></script>
<script src="../js/modules/animateHighlighter.js" async></script>

</html>